<a href="https://colab.research.google.com/github/Durgaprasad77705/Food-Delivery-Time-Prediction-using-Python/blob/main/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import plotly.express as px

data = pd.read_csv("/content/deliverytime.txt")
print(data.head())

     ID Delivery_person_ID  Delivery_person_Age  Delivery_person_Ratings  \
0  4607     INDORES13DEL02                 37.0                      4.9
1  B379     BANGRES18DEL02                 34.0                      4.5
2  5D6D     BANGRES19DEL01                 23.0                      4.4
3  7A6A    COIMBRES13DEL02                 38.0                      4.7
4  70A2     CHENRES12DEL01                 32.0                      4.6

   Restaurant_latitude  Restaurant_longitude  Delivery_location_latitude  \
0            22.745049             75.892471                   22.765049
1            12.913041             77.683237                   13.043041
2            12.914264             77.678400                   12.924264
3            11.003669             76.976494                   11.053669
4            12.972793             80.249982                   13.012793

   Delivery_location_longitude Type_of_order Type_of_vehicle  Time_taken(min)
0                    75.912471        Snack      motorcycle              24.0
1                    77.813237        Snack         scooter              33.0
2                    77.688400       Drinks      motorcycle              26.0
3                    77.026494       Buffet      motorcycle              21.0
4                    80.289982        Snack         scooter              30.0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24378 entries, 0 to 24377
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           24378 non-null  object
 1   Delivery_person_ID           24378 non-null  object
 2   Delivery_person_Age          24377 non-null  float64
 3   Delivery_person_Ratings      24377 non-null  float64
 4   Restaurant_latitude          24377 non-null  float64
 5   Restaurant_longitude         24377 non-null  float64
 6   Delivery_location_latitude   24377 non-null  float64
 7   Delivery_location_longitude  24377 non-null  float64
 8   Type_of_order                24377 non-null  object
 9   Type_of_vehicle              24377 non-null  object
 10  Time_taken(min)              24377 non-null  float64
dtypes: float64(7), object(4)
memory usage: 2.0+ MB

In [ ]:
data.isnull().sum()

ID                             0
Delivery_person_ID             0
Delivery_person_Age            1
Delivery_person_Ratings        1
Restaurant_latitude            1
Restaurant_longitude           1
Delivery_location_latitude     1
Delivery_location_longitude    1
Type_of_order                  1
Type_of_vehicle                1
Time_taken(min)                1
dtype: int64

In [ ]:
R = 6371

In [ ]:
def deg_to_rad(degrees):
    return degrees * (np.pi/180)

In [ ]:
def distcalculate(lat1, lon1, lat2, lon2):
    d_lat = deg_to_rad(lat2-lat1)
    d_lon = deg_to_rad(lon2-lon1)
    a = np.sin(d_lat/2)**2 + np.cos(deg_to_rad(lat1)) * np.cos(deg_to_rad(lat2)) * np.sin(d_lon/2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    return R * c

In [ ]:
data['distance'] = np.nan

for i in range(len(data)):
    data.loc[i, 'distance'] = distcalculate(data.loc[i, 'Restaurant_latitude'],
                                        data.loc[i, 'Restaurant_longitude'],
                                        data.loc[i, 'Delivery_location_latitude'],
                                        data.loc[i, 'Delivery_location_longitude'])

In [ ]:
print(data.head())figure = px.scatter(data_frame = data,
                    x="distance",
                    y="Time_taken(min)",
                    size="Time_taken(min)",
                    trendline="ols",
                    title = "Relationship Between Distance and Time Taken")
figure.show()

In [ ]:
figure = px.scatter(data_frame = data,
                    x="Delivery_person_Age",
                    y="Time_taken(min)",
                    size="Time_taken(min)",
                    color = "distance",
                    trendline="ols",
                    title = "Relationship Between Time Taken and Age")
figure.show()

In [ ]:
figure = px.scatter(data_frame = data,
                    x="Delivery_person_Ratings",
                    y="Time_taken(min)",
                    size="Time_taken(min)",
                    color = "distance",
                    trendline="ols",
                    title = "Relationship Between Time Taken and Ratings")
figure.show()

In [ ]:
fig = px.box(data,
             x="Type_of_vehicle",
             y="Time_taken(min)",
             color="Type_of_order")
fig.show()

In [ ]:
fig = px.box(data,
             x="Type_of_vehicle",
             y="Time_taken(min)",
             color="Type_of_order")
fig.show()

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, LSTM
model = Sequential()
model.add(LSTM(128, return_sequences=True, input_shape= (xtrain.shape[1], 1)))
model.add(LSTM(64, return_sequences=False))
model.add(Dense(25))
model.add(Dense(1))
model.summary()

In [ ]:
model.compile(optimizer='adam', loss='mean_squared_error')
model.fit(xtrain, ytrain, batch_size=1, epochs=9)

In [ ]:
print("Food Delivery Time Prediction")
a = int(input("Age of Delivery Partner: "))
b = float(input("Ratings of Previous Deliveries: "))
c = int(input("Total Distance: "))

features = np.array([[a, b, c]])
print("Predicted Delivery Time in Minutes = ", model.predict(features))